.logo{
    color: white;
    font-size: 50px;
    padding-left: 95px;
}

.posisi{
    position: relative;
    margin-top: 210px;
    margin-left: 80px;
}

.white{
    color: white;
}
p{
    font-size: 14px;
    margin-left: 30px;
}


