<div class="container">
  <div class="row bg-white">
    <div class="col-4">
      <a  routerLink="/home" class="nav"><i class="bi bi-house-door-fill ml-4"></i></a>
      <p>Home</p>
    </div>
    <div class="col-4">
      <a routerLink="/play" class="nav"><i class="bi bi-music-note ml-4"></i></a>
      <p>Play</p>
    </div>
    <div class="col-4">
      <a routerLink="/list" class="nav"><i class="bi bi-music-note-list ml-5"></i></a>
      <p>Playlist</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

