<router-outlet></router-outlet>
<div class="container">
  <div class="row bg-white">
    <div class="col-4">
      <a  routerLink="/home" class="nav"><i class="bi bi-house-door-fill ml-4 size"></i></a>
      <p class="p1">Home</p>
    </div>
    <div class="col-4">
      <a routerLink="/play" class="nav"><i class="bi bi-music-note ml-5 size"></i></a>
      <p class="p2">Play</p>
    </div>
    <div class="col-4">
      <a routerLink="/playlist" class="nav"><i class="bi bi-music-note-list ml-5 size"></i></a>
      <p class="p3">Playlist</p>
    </div>
  </div>
</div>


